*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1 {
    margin: 0;
    color: #002999;
}
p {
    font-size: 1.6rem;
    margin: 0;
}
.container {
    margin-top: 2rem;
    padding: 0rem 15rem;
    max-width: 80%;
}
footer {
    background-color: #aac5ff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 600;
}